apiVersion: apps/v1
kind: Deployment
metadata: 
  labels:
    app: backend
  namespace: dev
  name: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: backend
    spec:
      nodeSelector:
        node-type: backend
      tolerations:
      - key: "dedicated"
        operator: "Equal"
        value: "backend"
        effect: "NoSchedule"
      containers:
      - name: backend
        image: nginx:1.26
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "300m"
            memory: "256Mi"
        envFrom:
         - configMapRef:
            name: backend-config
         - secretRef:
            name: backend-secrets

